<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Access Records</title>
    <link rel="stylesheet" href="{% static "css/myStyle.css" %}">
  </head>
  <body>
    {% if access_data %}
    <table>
      <thead>
        <th>Name</th>
        <th>Date</th>
      </thead>
      <tbody>
        {% for acc in access_data %}
        <tr>

          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No Access records</p>
    {% endif %}
  </body>
</html>
